ion-content {
  --padding-top: 100px;
  }
  ion-img {
  margin-top: 35px;
  width: 250px;
  align-self: center;
  margin: auto;
  display: block;
  padding: 10px;
  }
  p {
  text-align: center;
  font-weight: 700;
  color: #0D0D0D;
  padding-left: 10px;
  padding-right: 10px;
  }
